<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ACF>
			<version>1.4.0.19</version>
			<fishpig>
				<name>Advanced Custom Fields</name>
				<id>advanced-custom-field</id>
				<url>https://fishpig.co.uk/magento/wordpress-integration/advanced-custom-fields/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ACF>
	</modules>
	<global>
		<blocks>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Block</class>
			</wp_addon_acf>
		</blocks>
		<helpers>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Helper</class>
			</wp_addon_acf>
			<wp_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Helper</class>
			</wp_acf>
		</helpers>
		<models>
			<wp_addon_acf>
				<class>Fishpig_Wordpress_Addon_ACF_Model</class>
				<resourceModel>wp_addon_acf_resource</resourceModel>
			</wp_addon_acf>
			<wp_addon_acf_resource>
				<class>Fishpig_Wordpress_Addon_ACF_Model_Resource</class>
				<entities>
					<field><table>postmeta</table></field>
				</entities>
			</wp_addon_acf_resource>
		</models>
		<events>
			<wordpress_post_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getAcfValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_post_get_meta_value>
			<wordpress_page_get_meta_value>
				<observers>
					<wp_addon_acf>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ACF_Helper_Data</class>
						<method>getAcfValueObserver</method>
					</wp_addon_acf>
				</observers>
			</wordpress_page_get_meta_value>
		</events>
	</global>
	<!--
	<wordpress>
		<core>
			<modules>
				<wp_addon_acf />
			</modules>
		</core>
	</wordpress>
	-->
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
				<Fishpig_Wordpress_Addon_ACF>
					<Model_Observer_Plugin_Abstract><ignore /></Model_Observer_Plugin_Abstract>
				</Fishpig_Wordpress_Addon_ACF>
			</Fishpig_Inject_Wordpress_Model_Observer_Plugin_Abstract>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_ACF>
					<Block_System_Config_Form_Field_License><ignore /></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_ACF>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_ACF>
					<Helper_License><ignore /></Helper_License>
				</Fishpig_Wordpress_Addon_ACF>
			</Fishpig_Inject_Wordpress_Helper_License>
			<Fishpig_Inject_Wordpress_Helper_Core>
				<Fishpig_Wordpress_Addon_ACF>
					<Helper_Core><ignore /></Helper_Core>
				</Fishpig_Wordpress_Addon_ACF>
			</Fishpig_Inject_Wordpress_Helper_Core>
		</injection>
		<encode>
			<helper_core>app/code/community/Fishpig/Wordpress/Addon/ACF/Helper/Core.php</helper_core>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/ACF/Helper/License.php</helper_license>
			<helper_data>app/code/community/Fishpig/Wordpress/Addon/ACF/Helper/Data.php</helper_data>
			<observer_plugin_abstract>app/code/community/Fishpig/Wordpress/Addon/ACF/Model/Observer/Plugin/Abstract.php</observer_plugin_abstract>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/ACF/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>